.part1{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.part2{
    
    display:flex;
    margin-top: auto;
    padding:20px;
    /* flex-wrap: wrap-reverse; */
    flex-direction: row;
    justify-content: space-around;  
}
body{
    background-color: rgb(230, 160, 240) !important;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h1{
    text-align: center;
    color: rgb(48, 2, 61);
    text-decoration-color: aqua;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5cap;
    font-style: normal;
    text-decoration: rgb(185, 170, 190);
    text-shadow: 2cqmin;
    text-decoration-line: underline;

}
h3{
    text-decoration-line: underline;
    font-style: normal;
    color: rgb(148, 80, 25);
}
.part4{
    display:flex;
    margin-top: auto;
    padding:20px;
    /* flex-wrap: wrap-reverse; */
    flex-direction: row;
    justify-content: space-around; 
}
section{
    align-self: auto;
    align-items: center;
    display:flex;
    margin-top: auto;
    padding:20px;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-around;
   align-content: space-around;
   flex-direction: row;
}
article{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.bouttons{ 
    display:flex;
    gap: 10px;
    margin-top: auto;
    padding:20px;
    /* flex-wrap: wrap-reverse; */
    flex-direction: row;
    justify-content: space-between ;
    align-content:stretch;
    align-items:baseline ;
}
label{
    display:flex;
    margin-bottom:20px ;
    justify-items: legacy;
    justify-content: center;
    padding:10px ;  
    align-items: center; 

}
.checkbox{
    display:flex;
    
    justify-content: right;
    padding: bottom 10px; 
    width: auto;
    margin:auto ;
    align-items: center;
}
button{
    display:block;
    margin:auto;
    padding: 10px 15px;
    background-color: rgb(53, 12, 144);
    color:azure;
    border:2px ;
    cursor:grab;  
}
select{
height:0%;
margin: 0%;
padding: 0%;
}
section{
    display:flex;
    padding-bottom: 10px;
    justify-content: center;
    justify-items: auto;
}

header{
    align-content: center;
    text-align: center;
}
.mosaique{
    
    display:flex;
    justify-content: center;
    grid-template-columns: repeat(200px 500px);
    grid-template-rows: auto;
    gap:15px 30px;
    margin:auto;
    padding: 20px;
    max-width:  1200px;
    position: relative;
}
.mosaique img{
    display:flex;
    width: 100px;;
    height: auto;
    object-fit: cover;
    border-radius:10px;
    display: flex;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
    top: 50px;
    left:25
    
    }

